@import "tailwindcss";

:root {
  --main: #ffffff;    /* rgb(255,255,255) */
  --background: #1b1b1b; /* rgb(27,27,27) */
  --highlight: #ffa31a;   /* rgb(255,163,26) */
  --secondary-light: #808080;     /* rgb(128,128,128) */
  --secondary-dark: #292929; /* rgb(41,41,41) */
}